{% load static %}


<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>{{contact_title.title_section_one}}</h2>
        <p>{{contact_title.title_section_two}}</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            
            <div class="col-md-6 ">
              <div class="info-item rounded" data-aos="fade" data-aos-delay="300">
                <i class="bi bi-telephone"></i>
                <h3>Llámanos</h3>
                <p>+34 673 77 49 70</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6 ">
              <div class="info-item rounded " data-aos="fade" data-aos-delay="400">
                <i class="bi bi-envelope"></i>
                <h3>Email</h3>
                <p>team@emyux.com </p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6  ">
              <div class="info-item rounded" data-aos="fade" data-aos-delay="500">
                <i class="bi bi-clock"></i>
                <h3>Horarios</h3>
                <p>Lunes - Sábado</p>
                <p>24 horas</p>
              </div>
            </div><!-- End Info Item -->

          </div>

        </div>

        <div id="form-change"  class="col-lg-6">
          {% include "landing_page/contact/contact_response.html" %}
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->

