{% load static %}
<!-- Services Section -->
 {% if services %}
 <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>{{service_title.title_section_one}}</h2>
        <p>{{service_title.title_section_two}}</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">
        {% for service in services %}
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item item-{{service.color}} position-relative">
            <i class="{{service.icon}} icon"></i>
            <h3>{{service.title}}</h3>
            <p>{{service.description}}</p>
            <a href="{% url 'service_detail' slug=service.slug %}" class="read-more stretched-link"><span>{{service.button_text}}</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->
        {% endfor %}
        
      </div>

    </div>

  </section><!-- /Services Section -->
  {% endif %}
