{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="#" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <h1 class="sitename">Remiux</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
           {% if current_url == '/' %}   <!-- Tride use request.path  Example: {% if request.path == '/' %} values {% endif %} -->
          <li><a href="#hero" class="active">Inicio<br></a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#portfolio">Portafolio</a></li>
          <li><a href="#team">Equipo</a></li>
          <li><a href="#contact">Contacto</a></li>
          {% else %}
          <li><a href="{% url 'index' %}" class="active">Inicio<br></a></li>
          <li><a href="#alt-features">Características</a></li>
          <li><a href="#more-info">Más Información</a></li>
          <li><a href="#portfolio">Galería</a></li>
          {% endif %}
          
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      {% if current_url == '/' %}
      <a class="btn-getstarted flex-md-shrink-0" href="index.html#about">Get Started</a>
      {% endif %}

    </div>
  </header>